$body-font-family: "Colfax", serif;
$heading-font-family: "Colfax", serif;

$btn-letter-spacing: 0;
$btn-text-transform: capitalize;

$btn-icon-padding: 25px;
$shadow-key-umbra-opacity: rgba(#000, 0.03);
$shadow-key-penumbra-opacity: rgba(#000, 0.03);
$shadow-key-ambient-opacity: rgba(#000, 0.03);

$background-black-opacity: rgba(0, 0, 0, 0.8);

$tooltip-background-color: linear-gradient(38.29deg, #213B48 4.43%, #1F303A 86.6%);
$tooltip-border-radius: 8px;
$tooltip-font-size: 14px;
$tooltip-padding: 16px;

